.ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding: 0 20px;
    margin: 0;
}

.nav{
    background-color: beige;
    color: black;
    padding: 0 20px;
    height: 100px;
    position: relative;
    box-shadow: 0px 2px 10px rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHotel{
    margin: 0;
    height: 100px;
    display: block;
}

.icons{
    height: 30px;
}

.titulo{
    margin: 20px 0;
}

.containerTitulo{
    display: flex;
    justify-content: center;
}

.botonMenu{
    background-color: transparent;
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.overlayOpen {
  opacity: 1;
  visibility: visible;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 240px;
    height: 100vh;
    background-color: rgb(212, 212, 191);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    border-right: 1px solid rgb(168, 168, 168);
    border-radius: 0 10px 10px 0;
}

.menuAbierto {
  transform: translateX(0);
}

.ulMenu{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
}

.liMenu{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px
}


.closeButton{
    margin: 0;
    width: 30px;
    height: 30px;
}

.botonMenu:hover{
    opacity: 70%;
}

.buttonContainer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.opcionMenu{
    background-color: transparent;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid grey;
}

.opcionMenu:hover{
    background-color: rgb(198, 198, 177);
    color: red;
}

.iconOption{
    height: 20px;
}