.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1E2448;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.avatar {
    width: 80px;
    height: 80px;
    opacity: 0.8;
    margin-bottom: 10px;
	object-fit: cover;
    border: 3px solid #10142a;
	background-color: #1E2448;
    border-radius: 50%;
}
.titulo{
    color: #1E2448;
}
.subtitulo {
    color: #666;
    margin-bottom: 30px;
    font-size: 0.9rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputGroup {
    text-align: left;
}

.inputGroup label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    font-size: 0.9rem;
}

.inputGroup input {
    width: 100%;
    padding: 12px;
    border-bottom: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box;
    text-transform: none !important;
}

.btnLogin {
    background-color: #22c55e;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 10px;
}

.btnLogin:hover {
    background-color: #16a34a;
}

.btnLogin:disabled {
    background-color: #86efac;
    cursor: not-allowed;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.passwordWrapper input{
  width: 100%;
  padding: 12px;
  padding-right: 50px; 
  border-bottom: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  text-transform: none !important;
  box-sizing: border-box;
}

.toggleBtn {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px;
  color: #666;
  transition: color 0.2s;
}

.toggleBtn:hover {
  color: #333;
}

.inputError {
    border: 1px solid #ef4444 !important; 
    background-color: #fef2f2;
}

.mensajeError {
    color: #ef4444;
    font-size: 0.8rem;
    margin-top: 4px;
    text-align: left;
    display: block;
    font-weight: 500;
}

.errorGeneral {
    background-color: #fee2e2;
    color: #b91c1c;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 0.9rem;
    text-align: center;
    border: 1px solid #fecaca;
}