.formulario {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
}

.scrollForm {
  max-height: 400px;  
  overflow-y: auto; 
  border: 1px solid #ccc;
  padding: 20px;
}

.scrollForm::-webkit-scrollbar {
  width: 10px;
}

.scrollForm::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.scrollForm::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 10px;
  border: 2px solid white;
}

.scrollForm::-webkit-scrollbar-thumb:hover {
  background-color: rgba(245, 245, 245, 0.748);
  border: 2px solid white;
}

.fieldset {
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.legend {
  font-weight: bold;
  padding: 0 10px;
}

.formGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formGroup {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: 500;
}

.formGroup input,
.formGroup select {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #909090;
  border-radius: 5px;
  background-color: transparent;
}

.fullWidth {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fullWidth input {
  width: 46%; 
}

.formButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btnBase {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.2s ease;
}

.btnCancelar {
  composes: btnBase;
  background-color: #f44336;
  color: white;
}

.btnSiguiente {
  composes: btnBase;
  background-color: #4CAF50;
  color: white;
}

.btnCancelar:hover {
  background-color: #a82f27;
}

.btnSiguiente:hover {
  background-color: #337535;
}

.btnCancelar:active,
.btnSiguiente:active {
  transform: scale(0.95);
}

.btnSiguiente:disabled, .btnCancelar:disabled {
  background-color: #204821;
  cursor: not-allowed;
  color: white;
}

.inputError {
  border-bottom: 2px solid red !important;
}

.mensajeError {
  font-size: 0.85rem;
  display: block;
  color: red;
  margin-top: 4px;
  font-weight: 500;
}

.formulario input[type="number"]::-webkit-outer-spin-button,
.formulario input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formulario input[type="number"] {
  -moz-appearance: textfield;
}

.desactivado{
  opacity: 0.5;
  cursor:default;
}

.desactivado:active{
  opacity: 0.5 !important;
}

.desactivado:hover{
  background-color: #4CAF50;
}
