*{
  margin: 0;
}

body{
  background-color: #1E2448;
  font-family: Helvetica;
  color: whitesmoke;
}

html {
  overflow-y: scroll;
}

input, select{
  padding: 8px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: transparent;
  color: whitesmoke;
}

input{
  text-transform: uppercase;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;   /* Para que aparezca la manito al pasar el mouse */
    filter: opacity(0.5) invert(1);
}

option{
  background-color: #1E2448;
  color: whitesmoke;
}