*{
  margin: 0;
}

body{
  background-color: beige;
  font-family: Helvetica;
}

html {
  overflow-y: scroll;
}

input, select{
  padding: 8px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #909090;
  border-radius: 5px;
  background-color: transparent;
}

input{
  text-transform: uppercase;
}